# Ignore everything by default
/*

# Keep the releases folder tracked
!/releases/
!/releases/**

# Keep docs and README
!/docs/
!/docs/**
!/README.md

# Keep screenshots folder
!/assets/
!/assets/screenshot/
!/assets/screenshot/**

# Keep gitignore itself
!.gitignore
